@media screen and (max-width: 1920px) {
  .image-row img {
    margin-right: -140px;
    flex: 1;
  }
}
@media screen and (max-width: 1680px) {
  .image-row img {
    margin-right: -95px;
    flex: 1;
  }
}
@media screen and (max-width: 1440px) {
  .home_hero_section div .skam,
  .italia {
    font-size: 92px;
    text-align: center;
  }
  .protagonisti_section,
  .stagioni_section {
    display: grid;
    grid-template-columns: none;
  }
  .home_hero_section div .italia {
    margin-top: -16px;
  }
  .protagonisti_section img,
  .stagioni_section img {
    width: 100%;
  }
  .protagonisti_section .protagonisti_section_img {
    order: 2;
    margin-top: 43px;
  }
  .protagonisti_wrapper {
    width: 100%;
    margin-top: 22px;
  }
  .stagioni_wrapper {
    width: 100%;
  }
  .stagioni_wrapper h2 {
    text-align: start;
  }
  .stagioni_wrapper p {
    text-align: left;
    margin-bottom: 43px;
  }
  .stagioni_section {
    margin-top: 60px;
    margin-bottom: 120px;
  }
  .gallery_section_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .prices_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 128px;
  }
  .digital_wrapper img {
    width: 413px;
    height: 304px;
    height: auto;
  }
  .digital_wrapper p,
  .golden_awards_wrapper p {
    font-size: 18px;
  }
  .Protagonisti_main_section {
    padding-top: 121px;
  }
  .digital_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .golden_awards_wrapper {
    text-align: center;
  }
  .curiosity_container_wrapper:last-child img {
    margin-top: 48px;
  }
  .curiosity_container_wrapper p {
    font-size: 24px;
  }
  .cast_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 58px;
    margin-bottom: 52px;
  }
  .trama_section_wrapper p {
    font-size: 16px;
  }
  .trama_section_wrapper img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: auto;
  }
  .gallery_section_container div {
    width: 100%;
    max-width: 100%;
    object-fit: contain;
    height: auto;
  }
  .gallery_section_wrapper p {
    font-size: 26px;
  }
  .carousel_section_wrapper h1 {
    font-size: 80px;
    margin-bottom: 104px;
  }
  .footer_wrapper p {
    font-size: 21px;
  }
  .footer_list li {
    font-size: 21px;
  }
  .curiosity_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 21px;
    row-gap: 98px;
  }
  .curiosity_container_wrapper {
    width: 100%;
  }
  .curiosity_container_wrapper h2 {
    text-align: center;
  }
  .curiosity_container_wrapper img {
    width: 100%;
    height: 404px;
    margin-top: 48px;
    margin-bottom: 74px;
  }
}
@media screen and (max-width: 1366px) {
  .curiosity_container_wrapper img {
    width: 100%;
    height: 404px;
    margin-top: 48px;
    margin-bottom: 74px;
    max-width: 100%;
    object-fit: cover;
    height: auto;
  }
  .series_wrapper {
    height: 464.5px;
  }
  .gallery_section {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  .gallery_section_container div {
    width: 100%;
    height: 588px;
  }
  .gallery_section_wrapper p {
    padding-bottom: 100px;
    font-size: 25px;
  }
  .carousel_section_wrapper h1 {
    font-size: 80px;
    margin-bottom: 104px;
  }
  .carousel_section {
    padding-top: 146px;
    padding-bottom: 294px;
  }
  .slide-container {
    margin: auto;
    position: relative;
    width: 786px;
    height: 501px;
  }
  .arrow {
    padding: 200px 0px;
  }
  .slide img {
    width: 780px;
    height: 501px;
    transition: opacity 1s ease;
  }
  .next {
    right: -90px;
  }
  .prev {
    left: -96px;
  }
  .slide .caption {
    font-size: 38px;
    width: 780px;
  }
  .footer_wrapper p {
    font-size: 21px;
  }
  .footer_list li {
    font-size: 21px;
  }
  .curiosity_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 98px;
  }
  .curiosity_container_wrapper {
    width: 100%;
  }
  .curiosity_container_wrapper h2 {
    text-align: center;
  }
}
@media screen and (max-width: 1280px) {
  .series_wrapper {
    height: 464.5px;
  }
  .series_wrapper h1 {
    font-size: 87px;
  }
  .gallery_section {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  .gallery_section_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery_section_container img {
    width: 100%;
    height: 588px;
  }
  .gallery_section_wrapper p {
    padding-bottom: 100px;
    font-size: 25px;
  }
  .carousel_section_wrapper h1 {
    font-size: 80px;
    margin-bottom: 104px;
  }
  .carousel_section {
    padding-top: 146px;
    padding-bottom: 294px;
  }
  .slide-container {
    margin: auto;
    position: relative;
    width: 786px;
    height: 501px;
  }
  .arrow {
    padding: 200px 0px;
  }
  .slide img {
    width: 780px;
    height: 501px;
    transition: opacity 1s ease;
  }
  .next {
    right: -90px;
  }
  .prev {
    left: -96px;
  }
  .slide .caption {
    font-size: 38px;
    width: 780px;
  }
  .footer_wrapper p {
    font-size: 21px;
  }
  .footer_list li {
    font-size: 21px;
  }
}
@media screen and (max-width: 1024px) {
  .series_wrapper {
    height: 464.5px;
  }
  .series_wrapper h1 {
    font-size: 87px;
  }
  .gallery_section {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  .gallery_section_container img {
    width: 100%;
    height: 588px;
  }
  .gallery_section_wrapper p {
    padding-bottom: 100px;
    font-size: 25px;
  }
  .carousel_section_wrapper h1 {
    font-size: 80px;
    margin-bottom: 104px;
  }
  .carousel_section {
    padding-top: 146px;
    padding-bottom: 294px;
  }
  .slide-container {
    margin: auto;
    position: relative;
    width: 786px;
    height: 501px;
  }
  .arrow {
    padding: 200px 0px;
  }
  .slide img {
    width: 780px;
    height: 501px;
    transition: opacity 1s ease;
  }
  .next {
    right: -90px;
  }
  .prev {
    left: -96px;
  }
  .slide .caption {
    font-size: 38px;
    width: 780px;
  }
  .footer_wrapper p {
    font-size: 21px;
  }
  .footer_list li {
    font-size: 21px;
  }
  .nav_list li a {
    font-size: 19px;
  }
}
